<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Book-a-meal: User dashboard</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
      <div class="wrap">
        <header>
            <div id="logo">BAM</div>
            <nav>
              <ul>
                  <li>About</li>
                  <li>Contact</li>
              </ul>
            </nav>
        </header>

        <div class="content">
            <div class="panel">
              <ul>
                  <li><a href="./userDash.html">Dash</a></li>
                  <li class="current"><a href="./userMenu.html">View Menu</a></li>
                  <li><a href="./userHistory.html">My Order History</a></li>
              </ul>
            </div>
            <div class="view">
                <p>These are the available Menu Items.</p><br>
                <div id="menus">
                    List of menus for each day.
                </div>
            </div>
        </div>
        <footer>
            <p>Website designed and developed by <span>LudaOne Creations</span>.</p>
        </footer>
      </div>

    </body>
</html>
