<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Book-a-meal: Registration</title>
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
      <div class="wrap">
        <header>
            <div id="logo">BAM</div>
            <nav>
              <ul>
                  <li>About</li>
                  <li>Contact</li>
              </ul>
            </nav>
        </header>

        <div class="content">
          <p>Register as a Caterer in Book-a-meal application</p>
            <div class="form-holder">
                <form id="register-form">
                    <div class="form-row">
                      <label for="email">E-mail :</label>
                      <input type="text" name="email" placeholder="E-mail address">
                    </div>
                    <div class="form-row">
                      <label for="uname">Username :</label>
                      <input type="text" name="uname" placeholder="Name to be used in system">
                    </div>

                    <div class="form-row">
                      <label for="password">Password :</label>
                      <input type="password" name="password" placeholder="Your Password">
                    </div>

                    <div class="form-row">
                      <label for="re-pass">Re-Pass :</label>
                      <input type="text" name="re-pass" placeholder="Repeat the password">
                    </div>

                    <button id="btn-reg"> <a href="./userLogin.html">Register</a></button><br> or <a href="./userLogin.html">login here</a>.
                </form>
            </div>
        </div>
        <footer>
            <p>Website designed and developed by <span>LudaOne Creations</span>.</p>
        </footer>
      </div>

    </body>
</html>
